

      <!-- Page Content -->
      <div  class="container">


      </div>



      <div class="container">
  
        <div class="row">
  
          <div class="col-lg-3">
  
            <h1 class="my-4">ATSG Electronics</h1>
            <div class="list-group">
              <a href="#" class="list-group-item">Mobiles</a>
              <a href="#" class="list-group-item">Laptops</a>
              <a href="#" class="list-group-item">Camera</a>
            </div>
  
          </div>
          <!-- /.col-lg-3 -->
  
          <div class="col-lg-9 offers">
          <div>

          </div>
  
            <div class="row">
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/iphonex.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Apple iPhone X</a>
                    </h4>
                    <h5>$999</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/samsungs8.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Samsung S8</a>
                    </h4>
                    <h5>$750</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/googlepixel2.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Google Pixel 2</a>
                    </h4>
                    <h5>$850</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/applemacbook.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Apple MacBook A6</a>
                    </h4>
                    <h5>$1250</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/acerlaptop.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Acer Aqua 120</a>
                    </h4>
                    <h5>$700</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/hplaptop.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">HP Envy Core25</a>
                    </h4>
                    <h5>$770</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/canoncam.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Canon 5300X</a>
                    </h4>
                    <h5>$650</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/nikoncam.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Nikon 630M</a>
                    </h4>
                    <h5>$800</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="./assets/image/sonycam.jpg" alt="" width="500px" height="400px"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Sony 710</a>
                    </h4>
                    <h5>$740</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
                  </div>
                </div>
              </div>
  
            </div>
            <!-- /.row -->
  
          </div>
          <!-- /.col-lg-9 -->
  
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.container -->
  
     
  
      